<html>

<head>
<link href="/styles.css" rel="stylesheet" media="all"/>
</head>

<body>
<h1>Admin panel</h1>
<form action="/admin" method="POST">
    Login </br>
    <input type="text" name ="admin_login"/> </br>
    Password </br>
    <input type="password" name ="admin_password"/> </br>
    <input type="submit"/>
</form>
<p> <%=@admin_message%> </p>
</body>

</html>