<h1>Добро пожаловать</h1>
<h2>Запишитесь на приём</h2>
<form action="/" method="POST">
    Введите своё имя </br>
    <input type="text" name ="username"/> </br>
    Введите свой номер телефона </br>
    <input type="text" name ="tel"/> </br>
    Введите время встречи </br>
    <input type="text" name ="time"/> </br>
    <input type="submit"/>
</form>
<p> <%=@index_message%> </p>
